{% extends '::layout.html.twig' %}
{% block menu %}
    {%  include ':parts:navbar.html.twig' %}
{% endblock %}


{% block content %}



    {# photo formation #}
    <div class="row pad">

        <img id="chaireformation" class="img_center" src="{{ asset('bundles/chaireformation/images/photo.jpg') }}"/>


    </div>




    <div class="container-fluid">
        <div class="row pad">


            <div class="col-md-offset-2 col-md-8">
                <p>
                    {% trans %}formation.textprincipal{% endtrans %}
                </p>

            </div>

            <div class="col-md-offset-2 col-md-8">
               <div class="row pad">
                   <div id="studentescp" class="col-md-4">
                       <img  class="img_menu img_center" src="{{ asset('bundles/chaireformation/images/student_escp.png') }}"/>
                       <h4 class="text_center">{% trans %}formation.studentescp{% endtrans %}</h4>
                   </div>
                   <div id="student" class="col-md-4">
                       <img  class="img_menu img_center" src="{{ asset('bundles/chaireformation/images/etudiants.png') }}"/>
                       <h4  class="text_center">{% trans %}formation.student{% endtrans %}</h4>
                   </div>
                   <div id="manager" class="col-md-4">
                       <img  class="img_menu img_center" src="{{ asset('bundles/chaireformation/images/managers.png') }}"/>
                       <h4  class="text_center">{% trans %}formation.managers{% endtrans %}</h4>
                   </div>

               </div>

            </div>

            <div class="col-md-offset-2 col-md-8">
                {# student escp #}
                <div id="tabstudentescp" class="row pad" >


                    {% for form in studentescp %}
                        <div class="col-md-4">
                            {% if loc=='en' %}
                            <h4 style="text-align:center;">{{ form.nameEn }}</h4>
                            {% else %}
                                <h4 style="text-align:center;">{{ form.name }}</h4>
                            {% endif %}

                            {% if loc=='en' %}
                            {% if form.pageEn is not null %}
                            <a href="{{ path('generateur_view_page',{id:form.pageEn.id}) }}">
                                {% else %}

                                {% if form.page is not null%}
                                <a href="{{ path('generateur_view_page',{id:form.page.id}) }}">
                                {% endif %}

                                    {% endif %}
                                    {% else %}
                                    {% if form.page is not null%}
                                    <a href="{{ path('generateur_view_page',{id:form.page.id}) }}">
                                        {% endif %}
                                        {% endif %}


                                <img style=" width:250px;" src="{{ asset(form.Logo.getWebPath()) }}">
                            </a>
                            <p style="text-align:center;">

                                {% if loc=='en' %}
                                    {{ form.conceptEn}}
                                {% else %}
                                    {{ form.concept }}
                                    {% endif %}

                            </p>




                        </div>
                    {% endfor %}

                </div>
                {# student  #}
                <div id="tabstudent" style="display:none;" class="row pad">
                    {% for form in studentexte %}
                        <div class="col-md-4">

                            <h4 style="text-align:center;">{{ form.name }}</h4>
                            <img style=" width:250px;" src="{{ asset(form.Logo.getWebPath()) }}">
                            <p style="text-align:center;">
                                {{ form.concept |raw }}

                            </p>




                        </div>
                    {% endfor %}


                </div>

                {# student  #}
                <div id="tabmanager" style="display:none;" class="row pad">
                    {% for form in executive %}
                        <div class="col-md-4">

                            <h4 style="text-align:center;">{{ form.name }}</h4>
                            <img style=" width:250px;" src="{{ asset(form.Logo.getWebPath()) }}">
                            <p style="text-align:center;">
                                {{ form.concept |raw}}

                            </p>




                        </div>
                    {% endfor %}


                </div>
            </div>









{#

            <div class="col-md-offset-2 col-md-8" style="paddin">


                <div role="tabpanel">

                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#escp" aria-controls="escp" role="tab" data-toggle="tab">Etudiant ESCP</a></li>
                        <li role="presentation"><a href="#exte" aria-controls="exte" role="tab" data-toggle="tab">Etudiants</a></li>
                        <li role="presentation"><a href="#executive" aria-controls="executive" role="tab" data-toggle="tab">Executive</a></li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="escp">
                            <div class="row">


                                {% for form in studentescp %}
                                    <div class="col-md-4">

                                        <h4 style="text-align:center;">{{ form.name }}</h4>
                                        <img style=" width:250px;" src="/uploads/img/{{ form.photolink }}">
                                        <p style="text-align:center;">
                                            {{ form.concept }}
                                            {{ form.urlstory }}
                                        </p>




                                    </div>
                                {% endfor %}


                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="exte">

                            {% for form in studentexte %}
                                <div class="col-md-4">

                                    <h4 style="text-align:center;">{{ form.name }}</h4>
                                    <img style=" width:250px;" src="{{ form.photolink }}">
                                    <p style="text-align:center;">
                                        {{ form.concept }}
                                        {{ form.urlstory }}
                                    </p>




                                </div>
                            {% endfor %}

                        </div>

                        <div role="tabpanel" class="tab-pane" id="executive">

                            {% for form in executive %}
                                <div class="col-md-4">

                                    <h4 style="text-align:center;">{{ form.name }}</h4>
                                    <img style=" width:250px;" src="{{ form.photolink }}">
                                    <p style="text-align:center;">
                                        {{ form.concept }}
                                        {{ form.urlstory }}
                                    </p>




                                </div>
                            {% endfor %}

                            </div>

                    </div>

                </div>

            </div> #}

        </div>
    </div>


    <script>


$('#studentescp').click(function (){
    $('#tabstudentescp').attr('style',' ');
    $('#tabstudent').attr('style','display:none; ');
    $('#tabmanager').attr('style','display:none; ');
});

$('#student').click(function (){
    $('#tabstudentescp').attr('style','display:none; ');
    $('#tabstudent').attr('style',' ');
    $('#tabmanager').attr('style','display:none; ');
});

$('#manager').click(function (){
    $('#tabstudentescp').attr('style','display:none; ');
    $('#tabstudent').attr('style','display:none; ');
    $('#tabmanager').attr('style',' ');
});



    </script>

    <style>
        .img_menu{
            width:40%;
        }

        .chaireformation{
            width:100%;
        }
    </style>



{% endblock %}
