{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Formation list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Student_escp</th>
                <th>Student_exte</th>
                <th>Executive</th>
                <th>Name</th>
                <th>Nameen</th>
                <th>Concept</th>
                <th>Concepten</th>
                <th>Page native langage</th>
                <th>Page english</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('formation_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.studentescp }}</td>
                <td>{{ entity.studentexte }}</td>
                <td>{{ entity.executive }}</td>
                <td>{{ entity.name }}</td>
                <td>{{ entity.nameEn }}</td>
                <td>{{ entity.concept }}</td>

                <td>{{ entity.conceptEn }} </td>
                    <td>
                    {% if entity.page is not null %}
                <a href={{ path('generateur_edit_page',{'id':entity.page.id  }) }}> modifier page</a>
                {% else %}
                    <a href="{{ path('chaire_add_page_to_formation',{id:entity.id}) }}">
                        Ajouter une page
                    </a>
                {% endif %}




                    </td>

                <td>
                    {% if entity.pageEn is not null %}
                <a href={{ path('generateur_edit_page',{'id':entity.pageEn.id  }) }}> modifier page</a>
            {% else %}
                <a href="{{ path('chaire_add_page_to_formationEn',{id:entity.id}) }}">
                    Ajouter une page
                </a>
                {% endif %}


                    </td>

                <td>
                <ul>
                    <li>
                        <a href="{{ path('formation_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('formation_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('formation_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
